/* common shared styles */
*{
    font-family: 'Open Sans', sans-serif;
}
/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;
    /* margin-right: 10px; */
    text-align: right;
    align-items: center;
    margin: 0 200px;
}
nav>ul>li {
      list-style: none;
      margin-top: 25px;
      margin-right: 20px;
      margin-left: 70px;
}

.nav-title{
color: #181818;
font-size: 30px; 
padding-left: 30px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.text-primary{
    color: #fd6e0a;
}

.btn-primary{
    border-radius: 3px;
    background: #FD6E0A; 
    border: 0;   
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 15px 10px 15px 10px;
}

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 500px;
    /* height: 676px; */
    /* flex-shrink: 0; */
}
.banner-greettings{
    color: #474747;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.banner-title
{
    color: #181818;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px;
margin-bottom: 5px;
}
.banner-description{
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 500px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* main */
.main{
    max-width: 1140px;
    margin:0px auto;
}
/* about */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    margin-bottom: 0px;
    text-align: center;
}
.info-description{
    color: #474747;
    margin-top: 0px;
    text-align: center;
}